* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.container {
  width: 100%;
  margin: 0;
  height: 200px;
}
.container .row aside {
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: scroll;
  height: 15rem;
  padding: 0;
}
.container .row aside img {
  width: 100%;
}
.container .row aside span {
  font-size: 12px;
  display: block;
  width: 100%;
  background-color: rgba(210, 105, 30, 0.4);
}
.container .row .content {
  height: 6rem;
}
.container .row .content > i {
  color: #ff6f00;
  position: absolute;
  display: block;
  font-size: 63px;
  text-align: center;
  left: 0;
  top: 45%;
  margin: 0;
  padding: 10px;
  width: 100%;
  letter-spacing: 9px;
  background-color: rgba(170, 170, 170, 0.3);
}
.container .row .content > p {
  font-size: 30px;
  font-weight: 800;
  color: chocolate;
  letter-spacing: 8px;
  font-family: simsun;
}
.container .row .content .pic {
  height: 400px;
  border-bottom: 2px solid #aaa;
  margin-bottom: 10px;
}
.container .row .content .pic .row {
  padding: 0;
}
.container .row .content .pic .row .show_pic {
  border-top: 1px solid #aaa;
}
.container .row .content .pic .row .show_pic li {
  height: 6.5rem;
  float: left;
  overflow: hidden;
}
.container .row .content .pic .row .show_pic .l_click {
  position: absolute;
  font-size: 60px;
  color: aliceblue;
  background-color: rgba(9, 9, 9, 0.4);
  padding: 0 7px;
  top: 50%;
  left: 5px;
  border: 0px;
}
.container .row .content .pic .row .show_pic .r_click {
  position: absolute;
  font-size: 60px;
  color: aliceblue;
  background-color: rgba(9, 9, 9, 0.5);
  padding: 0 7px;
  top: 50%;
  right: 5px;
  border: 0px;
}
.container .row .content .row li {
  padding-left: 5px;
  padding-right: 5px;
}
.container .row .content .row li img {
  width: 100%;
}
.container .row .content .row li span {
  padding: 10px 5px 7px 5px;
  font-family: simsun;
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  color: aliceblue;
}
.container .row .content .bottom_pic .bot_row {
  position: relative;
}
.container .row .content .bottom_pic .bot_row img {
  width: 100%;
  padding: 0 5px;
}
.container .row .content .bottom_pic .bot_row p {
  position: absolute;
  bottom: 50px;
  font-size: 25px;
  font-family: simsun;
  padding: 15px;
  display: block;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.2);
}
.container .row article {
  position: fixed;
  right: 0;
  top: 0;
  padding: 0;
}
.container .row article img {
  width: 100%;
}
.container .row article span {
  font-size: 12px;
}
